.hd-bcve-wrapper {
	position: relative;
	cursor: pointer;
}
.hd-bcve-wrapper .play-button {
    --hd-play-button-size: 80px;
    --hd-play-button-background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 0.5 * var(--hd-play-button-size));
    left: calc(50% - 0.5 * var(--hd-play-button-size));
    z-index: 2;
    width: var(--hd-play-button-size);
    height: var(--hd-play-button-size);
}
.hd-bcve-wrapper .play-button:after {
	--hd-play-button-opacity: .8;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 37.5px 0 37.5px 65.0px;
	border-color: transparent transparent transparent var(--hd-play-button-background-color);
	opacity: var(--hd-play-button-opacity);
	transition: all 0.2s linear;
}
.hd-bcve-wrapper:hover .play-button:after {
	--hd-play-button-opacity: 1;
}